
		<!-- Start About -->
		<section id="mu-about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-about-area">
							<!-- Start Feature Content -->
							<div class="row">
								<div class="col-md-6">
									<div class="mu-about-left">
                                            <%= image_tag("lab20.jpg", alt: "Men Speaker") %>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mu-about-right">
                                        <h2>Sobre Rails Girls.</h2>
                                        <p>Las inscripciones son totalmente gratuitas pero los cupos son limitados, Inscripciones abiertas
                                        </p>
                                        <p>Aprenderás a diseñar, prototipar y codificar con la ayuda de nuestros tutores.
                                        </p>
                                        <p>Necesitas tu propio computador (preferiblemente), curiosidad y una pizca de imaginación.
                                        </p>
                                        <p>Quieres ayudar? Estamos buscando voluntarios y apoyos económicos Contáctanos.</p>
									</div>
								</div>
							</div>
							<!-- End Feature Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
        <!-- End About -->
        
