		<!-- Start FAQ -->
		<section id="mu-faq">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-faq-area">
    
                                <div class="mu-title-area">
                                    <h2 class="mu-title">FAQ</h2>
                                    <p>En su primera versión, durante dos días de nuestro taller gratuito, estaremos entrando al mágico mundo de la construcción de aplicaciones Web. ¡Railsmociónate y construye cosas increíbles!</p>
                                </div>
    
                                <div class="mu-faq-content">
    
                                    <div class="panel-group" id="accordion">
    
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                                <span class="fa fa-angle-down"></span> ¿Cuánto es el costo para el ingreso al workshop?
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                    Nada, es gratuito, sólo necesitas buenas energías y ganas de aprender!
                                                    
                                                                                                </div>
                                          </div>
                                        </div>
    
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                <span class="fa fa-angle-up"></span>¿A quién va dirigido?
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                    Mujeres de cualquier edad con conocimientos básicos de computación.                                                                                                </div>
                                          </div>
                                        </div>
    
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                <span class="fa fa-angle-up"></span> ¿Pueden asistir hombres?
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                    Sí, pero la prioridad en la lista de selección es para la chicas!                                                    
                                            </div>
                                          </div>
                                        </div>
    
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                <span class="fa fa-angle-up"></span> ¿Necesito computadora?
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                No, pero seria lo recomendable.                                            </div>
                                          </div>
                                        </div>

    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End FAQ -->
