	<!-- Start footer -->
	<footer id="mu-footer" role="contentinfo">
			<div class="container">
				<div class="mu-footer-area">
					<div class="mu-footer-top">
						<div class="mu-social-media">
							<a href="https://www.facebook.com/railsgirlscr/"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/railsGirlsCr"><i class="fa fa-twitter"></i></a>
							<a href="mailto:railsgirlscr@gmail.com"><i class="fa fa-envelope"></i></a>
						</div>
					</div>
					<div class="mu-footer-bottom">
						<p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://www.railsgirlscr.org/">railsgirlscr.org</a>. All right reserved.</p>
					</div>
				</div>
			</div>

	</footer>
	<!-- End footer -->
