<!-- Start Sponsors -->
<section id="mu-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-sponsors-area">
          <div class="mu-title-area">
            <h2 class="mu-title">Nuestros patrocinadores</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint assumenda ut molestias doloremque ipsam, fugit laborum totam, pariatur est cumque at, repudiandae officia ex dolores quas minus optio, iusto soluta?</p>
          </div>
          <div class="mu-sponsors-content">
            <div class="row">
              <% @current_sponsors.each do |current_sponsor| %>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="mu-sponsors-single">
                    <%= image_tag current_sponsor.logo %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Sponsors -->
