<%= render 'shared/header'  %>
<section id="mu-about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-area">
          <!-- Start Feature Content -->
          <div class="row">
            <div class="col-md-6">
              <div class="mu-about-left">
                <%= image_tag  "about.jpg" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mu-about-right">
                <h2>About The Conference</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam aliquam distinctio magni enim error commodi suscipit nobis alias nulla, itaque ex, vitae repellat amet neque est voluptatem iure maxime eius!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus in accusamus qui sequi nisi, sint magni, ipsam, porro nesciunt id veritatis quaerat ipsum consequatur laborum, provident veniam quibusdam placeat quam?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate perspiciatis magni omnis excepturi, cumque reiciendis.</p>
              </div>
            </div>
          </div>
          <!-- End Feature Content -->

        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer'  %>
