
/*--------------------*/
/* SPONSORS */
/*--------------------*/

#mu-sponsors, #past-mu-sponsors {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}
#past-mu-sponsors{
	background-color: #fff !important;
}

.mu-sponsors-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-sponsors-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-sponsors-single {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
}
