
/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-top {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media {
	display: inline;
	float: left;
	padding: 10px 0;
	width: 100%;
}

.mu-social-media a {
	border: 1px solid #19191a;
	border-radius: 50px;
	color: #19191a;
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.mu-footer-bottom {
	display: inline;
	float: left;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}