.parallax{
  /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}
.principal-banner{

  display: table;
  height: 100vh;
  width: 100%;
  padding: 30px;
  .info-p{
    margin: 30px auto;
    width: 900px;
    p{
    font-size: 20px;
    text-align: -webkit-center;
    line-height: 2;
    font-weight: 200;

    }
}
 h1{
   display: inline-block;
   text-align: center;

 }
 h2{
   font-size: 130px;
    font-weight: 200;
 }
 h3{
   color: rgb(227, 50, 67);
   font-size: 40px;

 }

 .head{
   margin: 10px auto;
   text-align: center;
 }
}

.bold-title{
  font-weight: bold;
  font-size: 200px;
  margin-right: 30px;
}

.light-title{
  font-weight: 200;
  font-size: 150px;
}


.information-section{
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  background-color:  rgb(222, 197, 200);
  .information{

    h3{
      font-size: 30px;
      font-weight: 200;
      color:  rgb(219, 0, 48);
    }
    h4{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
    .question{
      color:  rgb(229, 93, 110);
      font-weight: bold;
    }
  }
}

.patrocinadores{
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%;
  color: #fff;
  padding: 40px;
  background-color:  rgb(219, 0, 48);
}

  .information{
    width: 900px;
    margin: 0px auto;
  }
.suscribe{
  color: white;
  border-radius: 5px;
  background-color:  rgb(219, 0, 48);
  width: 250px;
  display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}
