
/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {
    
        .mu-register-content {
            padding: 0 150px;
        }
    
        .mu-video-iframe-area {
            padding: 16% 0;
        }
    
        .mu-video-close-btn {
            top: 5%;
            right: 5%;
            margin-top: 0;
        }
    
        .mu-apps-screenshot-slider .slick-prev {
            left: -25px;
        }
    
        .mu-apps-screenshot-slider .slick-next {
            right: -25px;
        }
    
            
    }
    
    @media (max-width: 991px) {	
    
        .mu-primary-btn {
            font-size: 14px;
            padding: 12px 22px;
        }
    
        .mu-navbar .mu-menu {
            margin-top: 5px;
        }
    
        .mu-navbar .mu-menu li a {
            font-size: 15px;
            padding: 10px 6px;
        }
    
        .mu-hero-featured-content h1 {
            font-size: 35px;
        }
    
        .mu-hero-featured-content h2 {
            font-size: 18px;
        }
    
        .mu-event-date-line {
            font-size: 14px;
        }
    
        .mu-event-counter-block {
            height: 130px;
            width: 130px;
            font-size: 16px;
            margin: 0 10px;
        }
    
        .mu-event-counter-block span {
            font-size: 30px;
            padding-top: 32px;
            line-height: 32px;
        }
    
        .mu-event-timeline ul li {
            margin-left: 15%;
        }
    
        .mu-event-timeline ul li:nth-child(2n+1) .mu-single-event {
            left: 50px;
            text-align: left;
        }
    
        .mu-event-timeline ul li:nth-child(2n+1) .mu-single-event::before {
            right: auto;
            left: -16px;
            border-width: 8px 16px 8px 0;
            border-color: transparent #fff transparent transparent;
        }
    
        .mu-event-timeline ul li:nth-child(2n+1) .mu-single-event img {
            float: left;
            margin-right: 15px;
            margin-left: 0;
        }
    
        .mu-video-iframe-area {
            padding: 16% 5%;
        }
    
        .mu-video-iframe-area iframe {
            width: 100%;
        }
    
        .mu-title-area {
            padding: 0 50px;
        }
    
        .mu-faq-content {
            padding: 0;
        }
    
        .mu-contact-right {
            margin-top: 50px;
        }
    
        .mu-menu-btn {
            right: 5%;
        }
    
        .mu-speakers-slider .slick-next {
            right: 0;
        }
    
        .mu-speakers-slider .slick-prev {
            left: 0;
        }
    
        .mu-speakers-slider .slick-next,
        .mu-speakers-slider .slick-prev {
            width: 40px;
            height: 40px;
        }
    
        .mu-speakers-slider .slick-prev::before, 
        .mu-speakers-slider .slick-next::before {
            font-size: 18px;
        }
    
        .mu-single-speakers-info h3 {
            font-size: 18px;
        }
    
        .mu-pricing-conten {
            padding: 0 5%;
        }
    
        .mu-single-price {
            margin-bottom: 30px;
        }
    
    
            
    }
    
    @media (max-width: 767px) {
    
        .mu-logo img {
            width: 150px;
        }
    
        
        .mu-navbar .navbar-toggle .icon-bar {
            background-color: #fff;
        }
    
        .mu-navbar .mu-menu {
            padding: 0 15px;
        }
    
        .mu-video-close-btn {
            font-size: 16px;
            height: 40px;
            line-height: 35px;
            width: 40px;
        }
    
            
            
    }
    
    
    @media (max-width: 640px){
        
        .mu-event-counter-block {
            height: 100px;
            width: 100px;
            font-size: 15px;
        }
    
        .mu-event-counter-block span {
            font-size: 22px;
            padding-top: 22px;
            line-height: 25px;
        }
    
        .mu-title-area {
            padding: 0;
        }
    
        .mu-video-iframe-area {
            padding: 5% 5%;
        }
    
        .mu-video-iframe-area iframe {
            width: 100%;
            height: 100%;
        }
    
        .mu-register-content {
            padding: 0 100px;
        }
    
        .mu-contact-content {
            padding: 0 10%;
        }
                    
    
    }
    
    
    @media (max-width: 480px) {
    
        body {
            font-size: 14px;
        }
    
        .mu-logo {
            margin-bottom: 10px;
            font-size: 30px;
        }
    
        .mu-hero-featured-area {
            padding: 60px 0 60px;
        }
    
        .mu-hero-featured-content {
            margin-top: 20px;
        }
    
        .mu-hero-featured-content h1 {
            font-size: 25px;
        }
    
        .mu-hero-featured-content h2 {
            font-size: 14px;
        }
    
        .mu-event-date-line {
            font-size: 12px;
        }
    
        .mu-event-counter-area {
            margin-top: 20px;
        }
        
        .mu-event-counter-block span {
            font-size: 18px;
            padding-top: 16px;
            line-height: 20px;
        }
    
        .mu-event-counter-block {
            height: 75px;
            width: 75px;
            font-size: 12px;
            margin: 0 5px;
        }
        
        .mu-video-close-btn {
            top: 2%;
            right: 5%;
            height: 40px;
            line-height: 35px;
            width: 40px;
        }
    
        .mu-menu-close-btn {
            right: 5%;
            top: 30px;
        }
    
        .mu-video-area {
            padding: 100px 0;
        }
    
        .mu-video-iframe-area {
            padding: 10% 5%;
        }
    
        .mu-video-iframe-area iframe {
            height: 250px;
        }
    
        h2 {
            font-size: 28px;
        }
    
        h3 {
            font-size: 24px;
        }
    
        h4 {
            font-size: 20px;
        }
    
        .mu-schedule-content {
            margin-top: 30px;
        }
        
        .mu-schedule-menu li {
            margin-bottom: 15px;
        }
    
        .mu-schedule-menu li a {
            font-size: 15px;
        }
    
        .mu-event-timeline ul li {
            margin-left: 5%;
        }
    
        .mu-event-timeline ul li .mu-single-event,
        .mu-event-timeline ul li:nth-child(2n+1) .mu-single-event,
        .mu-event-timeline ul li:nth-child(2n) .mu-single-event {
            left: 30px;
            width: 350px;
        }
    
        .mu-event-timeline ul li .mu-single-event h3 {
            margin-bottom: 5px;
            font-size: 14px;
        }
    
        .mu-venue-address h4 {
            font-size: 16px;
        }
    
        .mu-register-content,
        .mu-contact-content {
            padding: 0 5%;
        }
    
        .mu-faq-content .panel-title {
            font-size: 14px;
        }
                        
        
    }
    
    
    @media (max-width: 360px) {
    
        .mu-logo img {
            width: 120px;
        }
    
        .mu-hero-featured-area {
            padding: 30px 0 30px;
        }
    
        .mu-event-counter-block {
            height: 56px;
            width: 56px;
            font-size: 10px;
        }
    
        .mu-event-counter-block span {
            font-size: 16px;
            padding-top: 10px;
            line-height: 16px;
        }
    
        .mu-video-area {
            padding: 50px 0;
        }
    
        .mu-video-iframe-area {
            padding: 15% 5%;
        }
    
        .mu-video-play-btn, .mu-video-close-btn {
            font-size: 18px;
            width: 50px;
            height: 50px;
            line-height: 46px;
            margin-top: 50px;
        }
    
        h2 {
            font-size: 25px;
        }
    
        .mu-event-timeline ul li .mu-single-event, 
        .mu-event-timeline ul li:nth-child(2n+1) .mu-single-event, 
        .mu-event-timeline ul li:nth-child(2n) .mu-single-event {
            left: 30px;
            width: 280px;
        }
    }
    
    
    
    @media (max-width: 320px) {
    
        .mu-video-iframe-area {
            padding: 30% 5%;
        }
    
        .mu-event-timeline ul li .mu-single-event, 
        .mu-event-timeline ul li:nth-child(2n+1) .mu-single-event, 
        .mu-event-timeline ul li:nth-child(2n) .mu-single-event {
            left: 30px;
            width: 250px;
        }
    
        h2 {
            font-size: 22px;
        }
        
        
        
    }
    
    