<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <%= link_to 'Home', root_path, target: 'blank' %>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      <a href="http://www.railsgirlscr.org/">Rails Girls Costa Rica 2018</a>
    </p>
  </div>
</footer>
