<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <p>Salir</p>
            <% end %>
          <% end %>
      </li>
      <li class="separator hidden-lg hidden-md"></li>
    </ul>
  </div>
</div>
</nav>
